.CountriesList {
  display:flex;
  justify-content: flex-start;
  height: 100vh;
}

.CountriesList ul {
  overflow-y: scroll;
  text-align: start
}

.CountriesList .NavLink {
  text-decoration: none;
  color:black
}

.CountriesList .ActiveNavLink {
  color:yellow
}

.CountriesList .ActiveNavLink div {
  background-color:blue
}